[{
    "name": "GCP",
    "credential": {
        "type": "HMAC-KEYS",
        "secret": {
            "secretKey": "xxxx",
            "accessKey": "xxxx"
        }
    },
    "cloudServices": [{
        "name": "Google Cloud Storage",
        "type": "objectStore",
        "usage": "DEFAULT",
        "connection": {
            "bucketName": "XXXXXX",
            "rootDir": "XXXXXX"
        },
        "category": "storage"
    }]
}]

