[{
	"name": "AWS",
	"credential": {
		"type": "ACCESS-KEY",
		"secret": {
			"secretKey": "<secret_key>",
			"accessKey": "<access_key>"
		}
	},
	"cloudServices": [{
		"name": "AWS S3",
		"type": "objectStore",
		"usage": "DEFAULT",
		"connection": {
			"bucketName": "<bucket_name>",
			"region": "<region>",
			"regionEndpointUrl": "<region_endpoint_url>",
			"rootDir": "<root_dir>"
		},
		"category": "storage"
	}]
}]