[{
    "name": "AWS",
    "credential": {
        "type": "IAM-ROLE"
    },
    "cloudServices": [{
        "name": "AWS S3",
        "type": "objectStore",
        "usage": "DEFAULT",
        "connection": {
            "bucketName": "<bucket_name>",
            "region": "<region>",
            "regionEndpointUrl": "<region_endpoint_url>",
            "rootDir": "<root_dir>"
        },
        "category": "storage"
    }]
}]